<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="static/hive.css">
  <script>

    document.addEventListener("DOMContentLoaded", function(event) {
      var width = 1260;
      var height = 1450;
      var innerRadius = 40;
      var outerRadius = 1000;
      var majorAngle = 2 * Math.PI / 3;
      var minorAngle = 1 * Math.PI / 12;

      var angle = d3.scale.ordinal()
          .domain(["source", "source-target", "target-source", "target"])
          .range([0, majorAngle - minorAngle, majorAngle + minorAngle, 2 * majorAngle]);

      var radius = d3.scale.linear()
          .range([innerRadius, outerRadius]);

      var color = d3.scale.category20();

      var svg = d3.select("#chart").append("svg")
          .attr("width", width)
          .attr("height", height);

      svg = svg.append("g")
          .attr("transform", "translate(" + outerRadius * .20 + "," + outerRadius * .57 + ")");

      // Load the data and display the plot
      // top-level is list
      // each element is a dict
      // { "imports": ["str"], "name": "str" }
      // each name should be filepath starting at unique identifier (e.g mongo or thirdparty)
      d3.json("/hivedata", function(nodes) {
        var nodesByName = {};
        var nodesByType;
        var links = [];
        var formatNumber = d3.format(",d");
        var defaultInfo;
        var info;

        // Highlight the link and connected nodes on mouseover.
        function linkMouseover(d) {
          svg.selectAll(".link").classed("active", function(p) { return p === d; });
          svg.selectAll(".node circle").classed("active", function(p) { return p === d.source || p === d.target; });
          // TODO For whatever reason, the relationship is backwards. I still have to figure out why
          info.text(d.target.node.name + " " + String.fromCharCode(8594) + " " + d.source.node.name);
        }

        // Highlight the node and connected links on mouseover.
        function nodeMouseover(d) {
          svg.selectAll(".link").classed("active", function(p) { return p.source === d || p.target === d; });
          d3.select(this).classed("active", true);
          info.text(d.node.name);
        }

        // Clear any highlighted nodes or links.
        function mouseout() {
          svg.selectAll(".active").classed("active", false);
          info.text(defaultInfo);
        }

        function degrees(radians) {
          return radians / Math.PI * 180 - 90;
        }

        // Construct an index by node name.
        function _constructIndexFromName(node) {
          node.connectors = [];
          node.packageName = node.name.split("/")[1];
          nodesByName[node.name] = node;
        }

        function _convertImportLists(source) {
          source.imports.forEach(function(targetName) {
            var target = nodesByName[targetName];
            console.log(targetName);
            console.log(target);
            if (!source.source) source.connectors.push(source.source = {node: source, degree: 0});
            if (!target.target) target.connectors.push(target.target = {node: target, degree: 0});
            links.push({source: source.source, target: target.target});
          });
        }

        function _determineNodeType(node) {
          if (node.source && node.target) {
            node.type = node.source.type = "target-source";
            node.target.type = "source-target";
          } else if (node.source) {
            node.type = node.source.type = "source";
          } else if (node.target) {
            node.type = node.target.type = "target";
          } else {
            node.connectors = [{node: node}];
            node.type = "source";
          }
        }

        nodes.forEach(_constructIndexFromName);
        nodes.forEach(_convertImportLists);
        nodes.forEach(_determineNodeType);
      
        // Normally, Hive Plots sort nodes by degree along each axis. However, since
        // this example visualizes a package hierarchy, we get more interesting
        // results if we group nodes by package. We don't need to sort explicitly
        // because the data file is already sorted by class name.

        // Nest nodes by type, for computing the rank.
        nodesByType = d3.nest()
            .key(function(d) { return d.type; })
            .sortKeys(d3.ascending)
            .entries(nodes);

        // Duplicate the target-source axis as source-target.
        nodesByType.push({key: "source-target", values: nodesByType[2].values});

        // Compute the rank for each type, with padding between packages.
        nodesByType.forEach(function(type) {
          var lastName = type.values[0].packageName;
          var count = 0;
          type.values.forEach(function(d) {
            if (d.packageName !== lastName) {
              lastName = d.packageName; 
              count += 2;
            }
            d.index = count++;
          });
          type.count = count - 1;
        });

        // Set the radius domain.
        radius.domain(d3.extent(nodes, function(d) { return d.index; }));

        // Initialize the info display.
        defaultInfo = "Showing " + formatNumber(links.length) + " dependencies among " + formatNumber(nodes.length) + " libraries."
        info = d3.select("#info")
            .text(defaultInfo);

        // Draw the axes.
        svg.selectAll(".axis")
            .data(nodesByType)
          .enter().append("line")
            .attr("class", "axis")
            .attr("transform", function(d) { return "rotate(" + degrees(angle(d.key)) + ")"; })
            .attr("x1", radius(-2))
            .attr("x2", function(d) { return radius(d.count + 2); });

        // Draw the links.
        svg.append("g")
            .attr("class", "links")
          .selectAll(".link")
            .data(links)
          .enter().append("path")
            .attr("class", "link")
            .attr("d", link()
              .angle(function(d) { return angle(d.type); })
              .radius(function(d) { return radius(d.node.index); }))
            .on("mouseover", linkMouseover)
            .on("mouseout", mouseout);

        // Draw the nodes. Note that each node can have up to two connectors,
        // representing the source (outgoing) and target (incoming) links.
        svg.append("g")
            .attr("class", "nodes")
          .selectAll(".node")
            .data(nodes)
          .enter().append("g")
            .attr("class", "node")
            .style("fill", function(d) { return color(d.packageName); })
          .selectAll("circle")
            .data(function(d) { return d.connectors; })
          .enter().append("circle")
            .attr("transform", function(d) { return "rotate(" + degrees(angle(d.type)) + ")"; })
            .attr("cx", function(d) { return radius(d.node.index); })
            .attr("r", 4)
            .on("mouseover", nodeMouseover)
            .on("mouseout", mouseout);

      });

      // A shape generator for Hive links, based on a source and a target.
      // The source and target are defined in polar coordinates (angle and radius).
      // Ratio links can also be drawn by using a startRadius and endRadius.
      // This class is modeled after d3.svg.chord.
      function link() {
        var source = function(d) { return d.source; };
        var target = function(d) { return d.target; };
        var angle = function(d) { return d.angle; };
        var startRadius = function(d) { return d.radius; };
        var endRadius = startRadius;
        var a1;
        var a2;
        const arcOffset = -Math.PI / 2;

        function link(d, i) {
          var s = node(source, this, d, i);
          var t = node(target, this, d, i);
          var x;

          if (t.a < s.a) {
            x = t; 
            t = s; 
            s = x;
          }

          if (t.a - s.a > Math.PI) {
            s.a += 2 * Math.PI;
          }

          a1 = s.a + (t.a - s.a) / 3;
          a2 = t.a - (t.a - s.a) / 3;

          if (s.r0 - s.r1 || t.r0 - t.r1) {
            return "M" + Math.cos(s.a) * s.r0 + "," + Math.sin(s.a) * s.r0
              + "L" + Math.cos(s.a) * s.r1 + "," + Math.sin(s.a) * s.r1
              + "C" + Math.cos(a1) * s.r1 + "," + Math.sin(a1) * s.r1
              + " " + Math.cos(a2) * t.r1 + "," + Math.sin(a2) * t.r1
              + " " + Math.cos(t.a) * t.r1 + "," + Math.sin(t.a) * t.r1
              + "L" + Math.cos(t.a) * t.r0 + "," + Math.sin(t.a) * t.r0
              + "C" + Math.cos(a2) * t.r0 + "," + Math.sin(a2) * t.r0
              + " " + Math.cos(a1) * s.r0 + "," + Math.sin(a1) * s.r0
              + " " + Math.cos(s.a) * s.r0 + "," + Math.sin(s.a) * s.r0;
          } 

          return "M" + Math.cos(s.a) * s.r0 + "," + Math.sin(s.a) * s.r0
            + "C" + Math.cos(a1) * s.r1 + "," + Math.sin(a1) * s.r1
            + " " + Math.cos(a2) * t.r1 + "," + Math.sin(a2) * t.r1
            + " " + Math.cos(t.a) * t.r1 + "," + Math.sin(t.a) * t.r1;
          
        }

        function node(method, context, d, i) {
          // TODO this shit breaks
          var node = method.call(context, d, i);
          var a;
          var r0;
          var r1;

          if (typeof angle === "function") {
            a = Number(angle.call(context, node, i)) + arcOffset;
          } else {
            a = Number(angle) + arcOffset;
          }

          if (typeof startRadius === "function") {
            r0 = Number(startRadius.call(context, node, i));
          } else {
            r0 = Number(startRadius);
          }

          if (startRadius === endRadius) {
            r1 = r0;
          } else {
            if (typeof endRadius === "function") {
              r1 = Number(endRadius.call(context, node, i));
            } else {
              r1 = Number(endRadius);
            }
          }

          return {r0: r0, r1: r1, a: a};
        }

        link.source = function(updatedSource) {
          if (updatedSource === undefined) {
            return source;
          }
          source = updatedSource;
          return link;
        };

        link.target = function(updatedTarget) {
          if (updatedTarget === undefined) {
            return target;
          }
          target = updatedTarget;
          return link;
        };

        link.angle = function(updatedAngle) {
          if (updatedAngle === undefined) {
            return angle;
          }
          angle = updatedAngle;
          return link;
        };

        link.radius = function(updatedRadius) {
          if (updatedRadius === undefined) {
            return startRadius;
          }
          startRadius = endRadius = updatedRadius;
          return link;
        };

        link.startRadius = function(updatedStartRadius) {
          if (updatedStartRadius === undefined) {
            return startRadius;
          }
          startRadius = updatedStartRadius;
          return link;
        };

        link.endRadius = function(updatedEndRadius) {
          if (updatedEndRadius === undefined) {
            return endRadius;
          } 
          endRadius = updatedEndRadius;
          return link;
        };

        return link;
      }
    });

  </script>
</head>
<script src="//d3js.org/d3.v3.min.js"></script>

<body>
  <div id="left-block"></div>
  <div id="main">
    <p id="info"></p>
    <p id="chart"></p>
  </div>
</body>
</html>
